<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiya</title>
</head>
<body>
<h1>Hey {{.FName}}</h1>

<br>
<br>
You are logged in!
Age: {{.Age}}
<br>
HMAC: {{.HMAC}}
<br>
UUID: {{.Uuid}}
<form>
  <input type="submit" name="logout" value="logout">
</form>

<br>
<br>



</body>
</html>
