html, body, h1 {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    border: 4px solid blue !important;
}

#themainbits{
  width: 70%;
  font-size: 6vw;
  text-align: center;
}


html, body {
    height: 100%
}

html {
    background-color: #3EEFFF;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    text-align: center;
}
