<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiya</title>
</head>
<body>
<h1>This is a landing page</h1>
<form method = "POST">
Username:
<input type="text" name="FName">
<br>

age:
<input type="text" name="Age"><br>
<br>
<input type="submit" value="create user and cookie">


<h1>If you have an account</h1>
<a href="/loggedin/">home page</a>

</form>
<br>
<br>
{{.FName}}<br>
{{.Age}}


</body>
</html>
