<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiya</title>
</head>
<body>
<h1>You are logged in!</h1>
<form>
  <input type="submit" name="logout" value="logout">
</form>

<br>
<br>
{{.FName}}<br>
{{.LName}}<br>
{{.Age}}


</body>
</html>
