<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiya</title>
</head>
<body>
<h1>User Information to cookie to JSON to base64</h1>
<Form method = "POST">
FName:
<input type="text" name="FName">
<br>
<br>
LName:
<input type="text" name="LName"><br>
<br>
age:
<input type="text" name="Age"><br>
<br>
<input type="submit">

</form>
<br>
<br>
{{.FName}}<br>
{{.LName}}<br>
{{.Age}}


</body>
</html>
